<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Login</title>
</head>
<body bgcolor="cornsilk" align="center">
<br><br>
<h1>Manager Login</h1>	<hr>
<form th:action="@{/manager/managerlogin}" method="POST" th:object="${manager}">
  
    <label for="email">Email address</label>
    <input type="email" id="email" th:field ="*{email}" placeholder="Enter email" > <br><br>
    
  
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" th:field ="*{password}"><br><br>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>